* {
margin : 0;
padding : 0;
box-sizing: border-box;
font-family: 'helvetica neue';
}
html , body{
height : 100%;
width : 100%;
}


button{
    padding: 10px 20px;
    border-radius: 2px;
    font-weight: 600;
    background-color: crimson;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 9;
}
button:active{
    scale: 0.95;
}
    body{
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
